<div class="card">
  <%= image_tag("mamKar", class:"card-img-top")%>
  <div class="card-body ygr-light-bg br-fg">
  <h4 class="card-title"><%= current_user.name %></h4>
  <p class="card-text"><%= current_user.username %></p>
  <hr>
  <p class="card-link">
  <strong> Tweets: <span><%= current_user.tweets.count %></span></strong>
  </p>
  <p class="card-link">
  <strong>Following: <span>123</span></strong>
  </p>
  <p class="card-link">
  <strong>Followers: <span>123k</span></strong>
  </p>
  </div>
</div>