<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="s-img">
           <%= image_tag("edit") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-10"><%= current_user.name %></p>
        <p class="subtitle is-6"><%= current_user.username %></p>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <p>Following</p>
        <small class="ml-3">123</small>
      </div>
      <div class="card-footer-item">
        <p>Followers</p>
        <small class="ml-3">123k</small>
      </div>
      <div class="card-footer-item">
        <p> Tweets</p>
        <small class="ml-3"><%= current_user.tweets.count %></small>
      </div>
  </footer>
  </div>
</div>