<div class="column">
  <nav class="panel">
    <p class="panel-heading">
      Trends
    </p>
    <a class="panel-block">
      Tred 1
    </a>
     <a class="panel-block">
      Tred 2
    </a>
     <a class="panel-block">
      Tred 3
    </a>
     <a class="panel-block">
      Tred 4
    </a>
     <a class="panel-block">
      Tred 5
    </a>
     <a class="panel-block">
      Tred 6
    </a>
     <a class="panel-block">
      Tred 7
    </a>
  </nav>

</div>