<div class="card">
  <div class="card-header br-bg">
    <p class="ygr-light-fg">Who to Follow</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item ">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag("mamKar", class: " card-img") %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Rahim
              </h5>
              <p class="card-text">Rahim_999</p>
            </div>
          </div>
        </div>
      </div>
    </li>
     <li class="list-group-item ">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag("mamKar", class: " card-img") %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Rahim
              </h5>
              <p class="card-text">Rahim_999</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>






