<div class="main-wraper">
  <div class="left">
    <% if user_signed_in? %>
      <%= render 'profile' %>
    <% else %>
      <%= render 'trends' %>
    <% end %>
  </div>
  <div class="mid">
    <%= render 'feed' %>
  </div>
</div>


