







<article class="media">
  <figure class="media-left">
    <% if user_signed_in? %>
      <%= render 'profile' %>
    <% else %>
      <%= render 'trends' %>
    <% end %>
    
  </figure>
  <div class="media-content">
    <div class="content">
      <%= render 'feed' %>
    </div>
  </div>
  <div class="media-right">
    <%= render 'who-to-follow' %>
  </div>
  
</article>