<div class="main-wraper">
  <div class="left-wraper">
    <% if user_signed_in? %>
      <%= render 'profile' %>
    <% else %>
      <%= render 'trends' %>
    <% end %>
  </div>
  <div class="mid-wraper">
    <%= render 'feed' %>
  </div>
  <div class="right-wraper">
    <%= render 'who-to-follow' %>
  </div>
</div>


