
<article class="media">
  <figure class="media-left">
    <%= render 'trends' %>
  </figure>
  <div class="media-content">
    <div class="content">
      <%= render 'feed' %>
    </div>
  </div>
  <div class="media-right">
    <%= render 'who-to-follow' %>
  </div>
  
</article>