/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.logo{
  font-size: 4rem;
  color: #f9d56e;
  text-decoration: none;
}
.logo:hover{
  text-decoration: none;
  color: #c0a455;
}

.red-bg {
  background-color: #e8505b;
}
.red-fg{
  color:  #e8505b;
}

.white-bg{
  background-color: #f3ecc2;
}
.white-fg{
  color: #f3ecc2;
}
.yellow-bg{
  background-color: #f9d56e;
}
.yellow-fg{
  color: #f9d56e;
}
.blue-fg{
  color: #14b1ab;
}
.blue-bg{
  background-color: #14b1ab;
}
