/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.logo{
  font-size: 4rem;
  color: #f3ff93;
  text-decoration: none;
}
.logo:hover{
  text-decoration: none;
  color: #aab365;
}

.br-bg{
  background-color: #560d0d;
}
.br-fg{
  color: #560d0d;
}
.gr-dark-bg{
  background-color: #76a21e;
}
.gr-dark-fg{
  color: #76a21e;
}
.ygr-bg{
  background-color: #c6cf65;
}
.ygr-fg{
  color: #c6cf65;
}
.ygr-light-bg{
  background-color: #f3ff93;
}
.ygr-light-fg{
  color: #f3ff93;
}