/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// color variables
$black: 	#1b262c;
$darkBlue: #0f4c75;
$lightBlue: #3282b8;
$lightestBlue: #bbe1fa;
$yellow: #ffd571;

.logo{
  color: $yellow;
  font-size: 3rem;
}
.logo:hover{
  color: #ceab5a;
}

.nav-bg{
  background-color: $black;
}

.btn-special{
  background-color: $yellow;
  color: $black;
  list-style: none;
}
.btn-special:hover{
  background-color: #ceab5a;
}
body{
  background-color: $lightestBlue;
}
// .special{
//   background-color: $darkPink;
//   color: $milkyWhite;
//   margin: 0.5rem;
// }
// .white-fg{
//   color: $milkyWhite;
// }