// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// color variables
$milkyWhite: #f4f3f7;
$lightBrown: #dca08b;
$blue: #6f9dc4;
$darkPink:#f08784;
$purple:#5a3c78;

.main-wraper {
  display: flex;
  justify-content: center;
  
  width: 100%;
  .left{
    margin: 1rem;
    width: 20%;
  }
  .mid{
    margin: 2rem;
    width: 50%;
  }
  .right{
    margin: 1rem;
    width: 20%;
  }
}

.img-s{
  width: 4rem;
  height: 4rem;
}
.profile{
  background-color: $lightBrown;
  color: $milkyWhite;
  font-size: 0.9rem;
}

.trends {
  color: $milkyWhite;
  div {
    background-color: $lightBrown;
  }
  li {
    background-color: $blue;
  }
}

.media{
  border: 2px solid $milkyWhite;
  padding: 0.5rem;
  color: $milkyWhite;
}

.font{
  color: $blue;
  font-size: 0.9rem;
}

.name-bar{
  color: $milkyWhite;
  background-color: $purple;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;

}
