// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// color variables
$black: 	#1b262c;
$darkBlue: #0f4c75;
$lightBlue: #3282b8;
$lightestBlue: #bbe1fa;
$yellow: #ffd571;

.main-wraper {
  display: flex;
  justify-content: center;
  
  width: 100%;
  .left{
    margin: 1rem;
    width: 25%;
  }
  .mid{
    margin: 2rem;
    width: 65%;
  }
}

.img-s{
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}
.profile{
  background-color: $black;
  color: $lightestBlue;
  font-size: 0.9rem;
}

.personal-info{
  color: $yellow;
  text-align: center;
  border-radius: 40%;
  h2{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
}
.trends {
  div {
    background-color: $black;
    color: $yellow;
  }
  li {
    background-color: $darkBlue;
    color: $lightestBlue;
  }
}

.media{
  border: 2px solid white;
  padding: 0.5rem;
  color: white;
}

.font{
  color: blue;
  font-size: 0.9rem;
}

.name-bar{
  color: White;
  background-color: green;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;

}